$clrBg1: #23212d;
$clrBg2: #2a2835;

$clrBlue: #75c9ee;
$clrYellow: #ffb800;
$clrRed: #fe1842;

$clrError: #cc123f;
$clrErrorBorder: #e54369;

$headerHeight: 80px;

$success: #67a069;
$pending: #fed84f;
$error: #8c4040;
$warning: #e5d752;
