@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;700&display=swap");
@import "~normalize.css";
@import "./connectModal.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  caret-color: #7b79f7;
}

#app {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23212d;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.link {
  cursor: pointer;
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  background: -webkit-linear-gradient(107.5deg, #5282fd -3.19%, #76c3f5 101.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

.header-balance {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: right;
  h4 {
    text-align: left;
    margin-bottom: 10px;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-family: Prompt, sans-serif;

  .tooltip-inner {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    max-width: 250px;
    text-align: center;

    background: #383641;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #fff;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $clrBg2;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

@media (min-width: 1024px) {
  .header-balance {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 6px;
    h4 {
      margin-bottom: 0;
    }
  }
}
