@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import "./connectModal.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  caret-color: #7b79f7;
}

w3m-core-button {
  display: flex;
  justify-content: center;
}

#app {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    291deg,
    #102649 -26.37%,
    #0c0f1c 40.92%,
    #131728 62.83%,
    #212555 123.87%
  );
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

.mim-top-bg {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 0;
}

.mim-bottom-bg {
  position: absolute;
  top: 85vh;
  right: 70px;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.link {
  cursor: pointer;
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  background: -webkit-linear-gradient(107.5deg, #5282fd -3.19%, #76c3f5 101.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

.header-balance {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: right;
  h4 {
    text-align: left;
    margin-bottom: 10px;
  }
}

.safe {
  color: #75c9ee;
}

.medium {
  color: #ffb800;
}

.high {
  color: #fe1842;
}

// tooltip
.tippy-box {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  background: #383641;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: #fff;
}

[data-tippy-root] {
  min-width: 100px;
  max-width: 250px;
}

@media (min-width: 1024px) {
  .header-balance {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 6px;
    h4 {
      margin-bottom: 0;
    }
  }
}
